@media (max-width: 768px) {
  .quiz-container {
    width: 90%;
  }

  #result {
    font-size: 1.5rem;
    top: calc(160px + 20px);
  }

  .question {
    font-size: 1.1rem;
    font-weight: 600;
  }
}
