@media (max-width: 768px) {
  .container {
    width: 80%;
    margin: 60px auto;
    padding: 30px;
    gap: 30px;
  }

  #result {
    font-size: 1.3rem;
    position: absolute;
    width: 80%;
    top: 80%;
    left: 50%;
  }

  .question {
    font-size: 1.1rem;
    font-weight: 600;
  }

  #popcorn {
    left: -25px;
  }

  #movie {
    right: -25px;
  }

  #popcorn img,
  #movie img {
    width: 75px;
  }
}
