@media (max-width: 768px) {
  .container {
    width: 80%;
    margin: 150px auto;
  }

  #result {
    font-size: 1.3rem;
    position: absolute;
    top: 80%;
    left: 50%;
  }

  .question {
    font-size: 1.1rem;
    font-weight: 600;
  }

  #popcorn img,
  #movie img {
    width: 80px;
  }
}
