* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
  background-image: radial-gradient(
    farthest-corner at 50% 70%,
    #ffffff,
    rgb(163, 231, 180),
    rgb(56, 159, 170) 40%,
    rgb(19, 10, 121) 70%,
    rgb(10, 5, 64) 100%
  );
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px inset white;
  width: 500px;
  gap: 40px;
  position: relative;
  margin: 100px auto;
  padding: 40px;
  background-color: #cbc8c8ab;
  border-radius: 15px;
  box-shadow: 0 10px 15px 5px #2727274d;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.quiz-container > .question:first-child {
  display: flex;
  align-items: center;
  flex: 0 0 100px;
}

.question {
  font-size: 1.2em;
  text-align: center;
  line-height: 1.4;
  font-weight: 600;
  color: #3d3232;
}

.options label {
  display: block;
  margin-bottom: 10px;
}
#submit {
  display: block;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  box-shadow: 0 10px 24px -8px #14a73e98;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 4px 2px;
  cursor: pointer;
}

#submit:active {
  transform: translateY(2px);
  box-shadow: 0 6px 16px -8px #10883298;
}

#result {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  font-size: 1.5rem;
  padding: 25px 35px;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: #4a3d3d;
  line-height: 1.4;
  width: 500px;
  background-color: #cbc8c876;
  border: 1px inset #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 15px 5px #2727274d;
  transition: 0.5s ease-in-out;
}

.options input[type="radio"] {
  position: relative;
  top: 1px;
  right: 3px;
  cursor: pointer;
}

#movie {
  position: absolute;
  top: -50px;
  right: -40px;
}

#movie img {
  width: 100px;
  transform: rotate(15deg);
}

#popcorn {
  position: absolute;
  bottom: -30px;
  left: -40px;
}

#popcorn img {
  width: 100px;
}
